.card{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    width: 25vw;
    height: 60vh;
    background-color: #303030;
    border-radius: 15px;
}

.card img {
    width: 25vw;
    border-radius: 15px 15px 0px 0px;
}